*{margin:0;padding:0;list-style: none;}
*{box-sizing: box-border;}

body{
    background: #f2f2f2;
}

.window{
  border: 1px solid #ffffff;
  width: 920px;
  height: 445px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0px 0px 3px #AAAAAA;
}
.images{
  display: flex;
  align-items: flex-start;
}
.images>img{
  vertical-align: top;
}
.menu ul li{
  width: 60px;
  height: 45px;
  display: inline-block;
  overflow: hidden;
  padding-top: 10px;
  border: 1px solid #DADBDB;
  position: relative;
}
.menu{
  text-align: center;
}
.menu ul li.active{
  background: #E9E1E1;
  transition: all 0.3s;
  z-index: 1;
}




